<div class="row py-2">
  <div class="col-xs-12 col-sm-12 col-md-9">
    <div class="row g-2">
      @if(launchList.length > 0){ @for (item of launchList; track item.id) {
      <div class="col-12">
        <!-- Background image -->
        <div
          class="bg-image rounded" 
          style="height: 50vh;background-size:  cover;"
          [style.background-image]="'url(' + item.image + ')'"
        >
          <div class="mask" style="background-color: rgba(32, 31, 31, 0.6)">
            <div class="d-flex justify-content-start align-items-end  h-100 px-1 py-1">
              00D
              18 h
              13 m
               02 s
            </div>
          </div>
        </div>
        <!-- Background image -->
      </div>
      } }
    </div>
  </div>
</div>
